# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)

*.so
*.so.*
*.dylib
#gcc temp file 
*.Po
*config.log
*aclocal.m4
*config.status
*ltmain.sh


#Offic tmp file
~$*
*.bak
# Executables

*.out
*.app

InstallApp/obj/*
InstallApp/bin/*
InstallApp/Debug/*


InstallLaneApp/obj/*
InstallLaneApp/bin/*
InstallLaneApp/Debug/*





