# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
#gcc temp file 
*.Po
*config.log
*aclocal.m4
*config.status
*ltmain.sh


#Offic tmp file
~$*
*.bak
# Executables
*.exe
*.out
*.app

/trunk/src/LaneOpenWeight/*.suo

*.user
trunk\src\LaneOpenWeight\Debug*/
*.opensdf
/trunk/src/LaneOpenWeight/*.sdf

/trunk/src/LaneOpenWeight/ipch

/trunk/src/Server/TCS.Watcher/obj

/trunk/src/Server/TCS.Config/obj

/trunk/src/Server/TCS.BOSS/TCS.BOSS/obj

/trunk/src/Server/TCS.DAL/obj
/trunk/src/Server/TCS.Model/obj
/trunk/src/Server/TCS.Msg/obj

/trunk/src/Server/TCS.Msg/bin
/trunk/src/Server/TCS.Msg/bin

*.suo
*.suo
 
/trunk/src/Server/MessageRouter/obj

/trunk/src/Server/TCS.PlazaAutoUpdate/obj/

/trunk/src/Server/MSG2DBServer/obj

trunk/src/Server/CloseTollProject.v11.suo

*.suo
*.suo
/trunk/src/Server/CloseTollProject.v11.suo

trunk\src\LaneOpenR2\Debug*/
trunk\src\LaneOpenR2\ipch\lane-3de4a5b8*/
trunk\src\LaneOpenR3\Debug*/
/trunk/src/LaneOpenR2/Debug
/trunk/src/LaneOpenR2/ipch
/trunk/src/LaneOpenR3/Debug

/trunk/src/LaneOpenWeight/Debug

/trunk/src/Server/RHYSOFT/BIN_Report
/trunk/src/Server/TCS.BOSS/TCS.BOSS.ReTransES/obj
/trunk/src/Server/TCS.BOSS/TCS.BOSS.ReTransES/bin
/trunk/src/Server/TollsCalc/TollsCalc/obj
/trunk/src/Server/TollsCalc/TollsCalc/bin

/trunk/src/Server/RHYSOFT/BIN/*.pdb

trunk\src\LaneOpenWeight\Debug*/
/trunk/src/LaneOpenWeight/Debug

/trunk/src/LaneOpenWeight/Lane.vcxproj.filters
/trunk/src/LaneOpenR2/Lane.sdf
/trunk/src/LaneOpenR2/LaneR2.sdf
/trunk/Install/RHYSOFT/BIN/*.InstallLog
/trunk/Install/RHYSOFT/BIN/*.InstallState

trunk/Install/RHYSOFT/DATA/MsgQueue.sdf
trunk\src\FastDev\AppMain\AppAttribute\obj\x86\Debug*/
*.pdb
/trunk/src/FastDev/FunctionAssembly/JZPQS/obj
/trunk/Install/RHYSOFT/BOSS/DevExpress.XtraRichEdit.v12.1.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.XtraVerticalGrid.v12.1.xml
/trunk/Install/RHYSOFT/BOSS/EntityFramework.SqlServer.xml
/trunk/Install/RHYSOFT/BOSS/EntityFramework.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.Data.v12.1.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.Office.v12.1.Core.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.Printing.v12.1.Core.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.RichEdit.v12.1.Core.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.Utils.v12.1.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.XtraBars.v12.1.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.XtraEditors.v12.1.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.XtraGrid.v12.1.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.XtraLayout.v12.1.xml
/trunk/Install/RHYSOFT/BOSS/DevExpress.XtraNavBar.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/*.pdb
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.XtraScheduler.v12.1.Reporting.Extensions.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.XtraScheduler.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.Data.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.Printing.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.Utils.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.XtraBars.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.XtraEditors.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.XtraGrid.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/DevExpress.XtraScheduler.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.Data.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.Office.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.PivotGrid.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.Printing.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.Reports.v12.1.Designer.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.RichEdit.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.Utils.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraBars.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraCharts.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraEditors.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraGrid.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraNavBar.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraPivotGrid.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraPrinting.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraReports.v12.1.Extensions.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraReports.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraRichEdit.v12.1.xml
/trunk/Install/RHYSOFT/BIN/DevExpress.XtraVerticalGrid.v12.1.xml
/trunk/Install/RHYSOFT/BIN/EntityFramework.SqlServer.xml
/trunk/Install/RHYSOFT/BIN/EntityFramework.xml
/trunk/Install/RHYSOFT/BIN/MSG2DBServer.exe.config
/trunk/Install/RHYSOFT/BIN/TCS.DAL.dll.config
/trunk/Install/RHYSOFT/BIN/TCS.Watcher.exe.config
/trunk/Install/RHYSOFT/BOSS/TCS.BOSS.exe.config
/trunk/Install/RHYSOFT/BOSS/TCS.BOSS_NET4.vshost.exe.manifest
/trunk/Install/RHYSOFT/BOSS/TCS.Config.dll.config
/trunk/src/FastDev/AppMain/AppAttribute/obj/x86/Debug/AppAttribute.Properties.Resources.resources
/trunk/src/FastDev/AppMain/AppAttribute/obj/x86/Debug/AppAttribute.csproj.FileListAbsolute.txt
/trunk/src/FastDev/AppMain/AppAttribute/obj/x86/Debug/AppAttribute.csproj.GenerateResource.Cache
/trunk/src/FastDev/AppMain/AppAttribute/obj/x86/Debug/AppAttribute.csprojResolveAssemblyReference.cache
/trunk/src/FastDev/AppMain/AppAttribute/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/trunk/src/FastDev/FunctionAssembly/PQS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/trunk/src/FastDev/PublicAssembly/BLL/obj/Debug/BLL.LoginFrm.resources
/trunk/src/FastDev/PublicAssembly/BLL/obj/Debug/BLL.Properties.Resources.resources
/trunk/src/FastDev/PublicAssembly/BLL/obj/Debug/BLL.PropertyFrm.resources
/trunk/src/FastDev/PublicAssembly/BLL/obj/Debug/BLL.csproj.FileListAbsolute.txt
/trunk/src/FastDev/PublicAssembly/BLL/obj/Debug/BLL.csproj.GenerateResource.Cache
/trunk/src/FastDev/PublicAssembly/BLL/obj/Debug/BLL.csprojResolveAssemblyReference.cache
/trunk/src/FastDev/PublicAssembly/BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/trunk/src/FastDev/PublicAssembly/BLL/obj/Debug/bll.dll.licenses
/trunk/src/FastDev/PublicAssembly/Config/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/trunk/src/FastDev/PublicAssembly/OperatorDB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/trunk/src/FastDev/PublicAssembly/OperatorDB/obj/Debug/OperatorDB.csproj.FileListAbsolute.txt
/trunk/src/FastDev/PublicAssembly/OperatorDB/obj/Debug/OperatorDB.csprojResolveAssemblyReference.cache
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.Data.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.Office.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.PivotGrid.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.Printing.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.Reports.v12.1.Designer.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.RichEdit.v12.1.Core.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.Utils.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraBars.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraCharts.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraEditors.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraNavBar.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraPivotGrid.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraPrinting.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraReports.v12.1.Extensions.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraReports.v12.1.xml
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/BIN/DevExpress.XtraRichEdit.v12.1.xml
/trunk/Install/RHYSOFT/BIN/TCS.Watcher.vshost.exe.config
/trunk/Install/RHYSOFT/BIN/TCS.Watcher.vshost.exe.manifest
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/TCS.Config.pdb
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/AppAttribute.pdb
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/BLL.pdb
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/OperatorDB.pdb
/trunk/Install/RHYSOFT/BIN_Report/报表管理系统计重12.1/FUNCTION/PQS.pdb
/trunk/Install/RHYSOFT/BIN/DataMaster.application
/trunk/Install/RHYSOFT/BIN/DataMaster.exe.config
/trunk/Install/RHYSOFT/BIN/MessageRouter.exe.config
/trunk/Install/RHYSOFT/BOSS/TCS.BOSS.vshost.exe.config

trunk/Install/RHYSOFT/BOSS/TCS.BOSS.vshost.exe.manifest
/trunk/src/Server/TCS.FreeCarList/bin
/trunk/Install/RHYSOFT/Client/*.xml
/trunk/Install/RHYSOFT/Client/IRS.vshost.exe.config
/trunk/Install/RHYSOFT/Client/IRS.vshost.exe.manifest
/trunk/Install/RHYSOFT/Client/IRS新，直接覆盖.rar
/trunk/Install/RHYSOFT/Client/Thumbs.db
/trunk/Install/RHYSOFT/IRS/EntityFramework.SqlServer.xml
/trunk/Install/RHYSOFT/IRS/EntityFramework.xml
/trunk/Install/RHYSOFT/IRS/IRS.SYS.LED.dll.config
/trunk/src/Server/TCS.FreeCarList/obj/Debug
*.cache
*.sdf
/trunk/src/LaneAllClosed/Lane.sdf
/trunk/src/LaneAllClosed/Lane.vcxproj.filters
/trunk/src/LaneAllClosed/ipch
/trunk/src/Server/TCS.Watcher/TCS.Watcher.vshost.exe.config
/trunk/src/Server/TCS.Watcher/TCS.Watcher.vshost.exe.manifest
/trunk/Install/RHYSOFT/BIN/MessageRouter.vshost.exe.config
/trunk/Install/RHYSOFT/BIN/MessageRouter.vshost.exe.manifest
/trunk/Install/RHYSOFT/DATA/MsgQueue.log
/trunk/src/Server/TCS.FreeCarList/obj
/trunk/src/Server/TCS.Config/bin/Release

trunk/Install/RHYSOFT/BIN/DevExpress.XtraLayout.v12.1.xml
trunk/Install/RHYSOFT/BIN/TCS.Config.dll.config
trunk/Install/RHYSOFT/BIN/NAudio.xml
/trunk/src/Server/TCS.UnitTest/bin
/trunk/src/Server/TCS.UnitTest/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.DB/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.DB/bin
/trunk/src/HighWayMonitor/trunk/src/IRS/BIN/Release
/trunk/src/HighWayMonitor/trunk/src/IRS/BIN/Debug
/trunk/src/HighWayMonitor/trunk/src/IRS/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.Server/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.WMC/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.WMC/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.Test/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.Test/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.SRT/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.SRT/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.RTMS/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.RTMS/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.MTC/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.MTC/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.LTD/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.LTD/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.LED/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.LED/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.Base/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.Base/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.WSTC/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.WSTC/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.WMC/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.WMC/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.Tests/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.Tests/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.SRT/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.SRT/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.RTMS/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.RTMS/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.MTC/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.MTC/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.LTD/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.LTD/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.LED/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.LED/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.Base/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.SYS.Base/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.Server/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.Server/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.Map/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.Map/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.WSTC/obj
/trunk/src/HighWayMonitor/trunk/src/IRS.UI.WSTC/bin
/trunk/RHYSOFT
/trunk/src/LaneOpenR3/ipch
/trunk/src/HighWayMonitor/trunk/src/IRS.nPort/IRS.nPort/bin
/trunk/src/HighWayMonitor/trunk/src/IRS.nPort/IRS.nPort/obj
/trunk/Install/RHYSOFT/IRS/IRS.Server.vshost.exe.config
/trunk/Install/RHYSOFT/IRS/IRS.Server.vshost.exe.manifest
/trunk/Install/RHYSOFT/LOG/log_IRS.SYS.Base_2014051216.log
/trunk/Install/RHYSOFT/LOG/log_IRS.Server_2014051216.log
/trunk/src/LaneOpenR3/Lane.sdf
/trunk/src/FastDev/AppMain/FastDev.Chart/bin
/trunk/src/FastDev/AppMain/FastDev.Chart/obj
/trunk/src/FastDev/AppMain/FastDev.Chart/obj
/trunk/src/FastDev/AppMain/FastDev.Chart/bin
/trunk/src/FastDev/AppMain/AppAttribute/obj
/trunk/src/FastDev/AppMain/AppAttribute/bin
/trunk/src/FastDev/AppMain/FastDev.DesignSqlStr/bin
/trunk/src/FastDev/AppMain/FastDev.DesignSqlStr/obj
/trunk/src/FastDev/AppMain/FastDev.LogInterFace/obj
/trunk/src/FastDev/AppMain/FastDev.LogInterFace/bin
/trunk/src/FastDev/AppMain/FastDev.PivotGrid/obj
/trunk/src/FastDev/AppMain/FastDev.PivotGrid/bin
/trunk/src/FastDev/AppMain/RunPath
/trunk/src/FastDev/CustomDevTools/FastDev.CustomInputControl/bin
/trunk/src/FastDev/CustomDevTools/FastDev.CustomInputControl/obj
/trunk/src/FastDev/CustomDevTools/FastDev.DesignSql/bin
/trunk/src/FastDev/CustomDevTools/FastDev.DesignSql/Images
/trunk/src/FastDev/CustomDevTools/FastDev.DesignSql/obj
/trunk/src/FastDev/CustomDevTools/FastDev.EditTable/obj
/trunk/src/FastDev/CustomDevTools/FastDev.EditTable/bin
/trunk/src/FastDev/CustomDevTools/FastDev.Query/obj
/trunk/src/FastDev/CustomDevTools/FastDev.Query/bin
/trunk/src/FastDev/CustomDevTools/FastDev.Report/obj
/trunk/src/FastDev/CustomDevTools/FastDev.Report/bin
/trunk/src/FastDev/CustomDevTools/FastDev.Scheme/obj
/trunk/src/FastDev/CustomDevTools/FastDev.Scheme/bin
/trunk/src/FastDev/CustomDevTools/FastDev/obj
/trunk/src/FastDev/CustomDevTools/FastDev/bin
/trunk/src/FastDev/CustomDevTools/FastDev.DesignInterFace/obj
/trunk/src/FastDev/CustomDevTools/FastDev.DesignInterFace/bin
/trunk/src/FastDev/PublicAssembly/BLL/obj
/trunk/src/FastDev/PublicAssembly/Config/obj
/trunk/src/FastDev/PublicAssembly/OperatorDB/obj
/trunk/Install/RHYSOFT/Client/IRS.application
/trunk/Install/RHYSOFT/Client/IRS.vshost.application

trunk/Install/RHYSOFT/Client/IRS.exe.manifest
trunk/Install/RHYSOFT/Client/IRS.exe.manifest
trunk/src/FastDev/AppMain/AppCreate/obj/*
trunk/src/FastDev/AppMain/AppLoder/obj/*
trunk/src/FastDev/AppMain/AppMain/obj/*


#2 level
trunk/*/*/obj/*
trunk/*/*/bin/*
trunk/*/*/Debug/*

#4 level
trunk/*/*/*/obj/*
trunk/*/*/*/bin/*
trunk/*/*/*/Debug/*

#4 level
trunk/*/*/*/*/obj/*
trunk/*/*/*/*/bin/*
trunk/*/*/*/*/Debug/*

#5 level
trunk/*/*/*/*/*/obj/*
trunk/*/*/*/*/*/bin/*
trunk/*/*/*/*/*/Debug/*
#6 level
trunk/*/*/*/*/*/*/obj/*
trunk/*/*/*/*/*/*/bin/*
trunk/*/*/*/*/*/*/Debug/*




